{
  "presets": [
    [ "@babel/env", 
      {
        "useBuiltIns": "usage",
        "targets": {
          "browsers": "> 30%, not ie 11, not op_mini all",
          "node": 10
        }
      }
    ], "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/transform-runtime",
    [
      "import",
      {
        "libraryName": "@material-ua/core",
        "libraryDirection": "",
        "camel2DashComponentName" : false
      },
      "@material-ua/core"
    ],
    [
      "import",
      {
        "libraryName": "@material-ua/core/styles",
        "libraryDirection": "",
        "camel2DashComponentName" : false
      },
      "@material-ua/core/styles"
    ],
    [
      "import",
      {
        "libraryName": "@material-ua/core/colors",
        "libraryDirection": "",
        "camel2DashComponentName" : false
      },
      "@material-ua/core/colors"
    ],
    [
      "import",
      {
        "libraryName": "@material-ua/icons",
        "libraryDirection": "",
        "camel2DashComponentName" : false
      },
      "@material-ua/icons"
    ]
  ]
}